.navbarHeaderTwo{
    display: flex;
    justify-content: center;
    background-color:#FF00004F;
    height: 30vh;
}

.navbarHeaderTwo h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #0D0E43;
}

.navbarHeaderTwo ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.navbarHeaderTwo a{
    text-decoration: none;
    color: #000;
}

.navbarHeaderTwo a:hover{
    color: #FFFFFF;
}

.navbarHeaderTwo li{
    list-style: none;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

.navbarHeaderTwo ul{
    margin-left: 150px;
}

@media(max-width:600px){
    .navbarHeaderTwo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbarHeaderTwo ul, h1{
        margin-left: 0;
    }
    
}